.main-nav {
  box-shadow: 0px 1px 2px 1px #ccc;
}

.control.has-icons-left .icon {
  color: #999;
}

#notebook {
  text-transform: uppercase;
  letter-spacing: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  color: #333;
}

#search-field {
  border-radius: 3px;
  background: #f2f2f2;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

#search-field:focus {
  outline: none;
  border: none;
}

#new-note {
  background: #f2545b;
  border: none;
  color: white
}

@media screen and (min-width: 1024px) {
  #search-field {
    width: 450px;
  }
}