#sidebar {
  position: fixed;
  width: 240px;
  height: calc(100vh - 60px);
  top: 60px;
  left: 0;
  background: #f9f9f9;
  overflow-y: hidden;
  transition: left .1s linear;
}

@media only screen and (max-width: 1200px) {
  #sidebar {
    left: -240px;
  }
}

#sidebar:hover {
  overflow-y: auto;
}

#close-button {
  position: absolute;
  top: 1.7rem;
  left: 200px;
  color: #666;
  cursor: pointer;
}

.sidebar-header {
  display: inline-block;
  color: #456175;
  margin: 1rem;
  margin-top: 1.5rem;
  border-bottom: 1px solid #b9c3cb;
  padding-bottom: .25rem;
  padding-right: 1rem;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 1rem;
}

#sidebar .notebook {
  padding: .75rem 1rem;
  text-overflow: ellipsis;
  cursor: pointer;
}

#sidebar .notebook.active {
  background: #f2f2f2;
}

#sidebar .notebook:hover {
  background: #f2f2f2;
}

#sidebar a {
  color: #333;
}